<!DOCTYPE html>
<html>
<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'IBM Plex Sans', sans-serif;
        }

        #dataTable {
            /*   border-collapse: collapse;*/
            border-collapse: collapse;
            width: 100%;
            table-layout: auto;
        }

            #dataTable th {
                /* border: 1px  solid #373737;*/ /* solid #373737*/
                border-bottom: 1px solid #373737;
                padding: 3px 3px 3px 3px;
                text-align: left;
            }

            #dataTable td {
                /* border: 1px  solid #373737;*/ /* solid #373737*/
                border-bottom: 1px solid #373737;
                padding: 3px 3px 3px 3px;
                text-align: left;
            }

        img {
            width: 70px;
            height: 70px;
        }

        .center {
            margin: auto;
            /*  margin: 3rem 5rem 2rem 0rem;*/
            /*margin-right: auto;*/
        }

        body {
            counter-reset: item-counter;
        }

        .item {
            counter-increment: item-counter;
        }

            .item:before {
                content: counter(item-counter, lower-roman) "."; /* by specifying the upper-roman as style the output would be in roman numbers */
            }


        #head_table {
            border-collapse: collapse;
            margin: 2rem 5rem 2rem 0rem; /* top=1em, right=2em, bottom=3em, left=2em */
        }

            #head_table td {
                padding: 8px 8px 8px 8px;
            }
    </style>
</head>
<body>

    <div>
        <div class="center">
            <table class="center">

                <thead>
                    <tr style="text-align:center;">
                        <td style="padding: 8px 8px 8px 8px;"><img src="@(Model.Server + Model.Client.logo)" alt="Image" /></td>
                        <td style=" text-align: center;padding: 8px 8px 8px 8px;">
                            <div style="text-align:center;  ">
                                <h1>@Model.Client.name</h1>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
            <table class="center" width=70%>
                <tr><td style="text-align:center; font-size:15px ;"> @Model.Client.address, @Model.Client.thana, @Model.Client.district - @Model.Client.zipcode  </td></tr>
            </table>


        </div>
        <div style=" text-align: right;
        margin: 2rem 0rem 0rem 0rem;">
            <strong> Date : </strong> @Model.Date
        </div>


        <table id="head_table">
            <tr>
                <td><strong> Ref : </strong></td>
                <td>2020/ 78/ 96/ 47</td>

            </tr>
        </table>
        <table id="head_table">
            <tr>
            </tr>
            <tr>
                <td>Inventory Report From <strong>@Model.StartDate.ToString("dd/MM/yy")</strong> to <strong>@Model.EndDate.ToString("dd/MM/yy")</strong> </td>


            </tr>


        </table>

        <table id="dataTable">
            <thead>
                <tr>
                    <th>SL </th>
                    <th>Date </th>
                    <th>Product</th>

                    <th>Manufacturer</th>
                    <th>Opening stock</th>
                    <th>Stock In</th>
                    <th>Stock Out</th>

                    <th>Closing stock</th>
                    <th>Unit Price</th>
                    <th>MRP</th>


                </tr>
            <thead>
                @{ int i = 1; }
                @foreach (var ph in Model.inventory)
                {
                <tr>
                    <td>@(i++). </td>
                    <td>@ph.entry_date.ToString("dd/MM/yy") </td>
                    <td>@ph.product </td>

                    <td>@ph.manufacturer </td>
                    <td>@ph.opening_stock </td>
                    <td>@ph.stock_in</td>
                    <td>@ph.stock_out</td>

                    <td>@ph.closing_stock</td>
                    <td>@ph.unit_price</td>
                    <td>@ph.mrp_price</td>




                </tr>



                }



                </table>

    </div>

</body>
</html>